<!DOCTYPE html>
                    <html>
                        <head>
                            <title>Darius (Under 13) 100m Fly</title>
                        </head>
                        <body>
                            <h3>Darius (Under 13) 100m Fly</h3>
                            <svg height="30" width="400">
                                <rect height="30" width="339.76" style="fill:rgb(0,0,255);" />
                            </svg>1:28.30<br />
                            <svg height="30" width="400">
                                <rect height="30" width="338.42" style="fill:rgb(0,0,255);" />
                            </svg>1:27.95<br />
                            <svg height="30" width="400">
                                <rect height="30" width="320.22" style="fill:rgb(0,0,255);" />
                            </svg>1:23.22<br />
                            <svg height="30" width="400">
                                <rect height="30" width="350.0" style="fill:rgb(0,0,255);" />
                            </svg>1:30.96<br />
                            <svg height="30" width="400">
                                <rect height="30" width="311.94" style="fill:rgb(0,0,255);" />
                            </svg>1:21.07<br />
                            <svg height="30" width="400">
                                <rect height="30" width="338.42" style="fill:rgb(0,0,255);" />
                            </svg>1:27.95<br />
                            <p>Average time: 1:26.58</p>
                        </body>
                    </html>
