<!DOCTYPE html>
                    <html>
                        <head>
                            <title>Abi (Under 10) 100m Back</title>
                            <link rel="stylesheet" href="/static/webapp.css"/>
                        </head>
                        <body>
                            <h2>Abi (Under 10) 100m Back</h2>
                            <svg height="30" width="400">
                                <rect height="30" width="323.98" style="fill:rgb(0,0,255);" />
                            </svg>1:32.37<br />
                            <svg height="30" width="400">
                                <rect height="30" width="350.0" style="fill:rgb(0,0,255);" />
                            </svg>1:39.79<br />
                            <svg height="30" width="400">
                                <rect height="30" width="311.28" style="fill:rgb(0,0,255);" />
                            </svg>1:28.75<br />
                            <svg height="30" width="400">
                                <rect height="30" width="303.56" style="fill:rgb(0,0,255);" />
                            </svg>1:26.55<br />
                            <svg height="30" width="400">
                                <rect height="30" width="321.24" style="fill:rgb(0,0,255);" />
                            </svg>1:31.59<br />
                            <p>Average time: 1:31.81</p>
                        </body>
                    </html>
