<!DOCTYPE html>
                    <html>
                        <head>
                            <title>Chris (Under 17) 100m Back</title>
                        </head>
                        <body>
                            <h3>Chris (Under 17) 100m Back</h3>
                            <svg height="30" width="400">
                                <rect height="30" width="339.26" style="fill:rgb(0,0,255);" />
                            </svg>1:21.51<br />
                            <svg height="30" width="400">
                                <rect height="30" width="350.0" style="fill:rgb(0,0,255);" />
                            </svg>1:24.09<br />
                            <svg height="30" width="400">
                                <rect height="30" width="346.8" style="fill:rgb(0,0,255);" />
                            </svg>1:23.32<br />
                            <svg height="30" width="400">
                                <rect height="30" width="340.3" style="fill:rgb(0,0,255);" />
                            </svg>1:21.76<br />
                            <p>Average time: 1:22.67</p>
                        </body>
                    </html>
