<!DOCTYPE html>
                    <html>
                        <head>
                            <title>Dave (Under 17) 200m Back</title>
                            <link rel="stylesheet" href="/static/webapp.css"/>
                        </head>
                        <body>
                            <h2>Dave (Under 17) 200m Back</h2>
                            <svg height="30" width="400">
                                <rect height="30" width="335.1" style="fill:rgb(0,0,255);" />
                            </svg>2:28.84<br />
                            <svg height="30" width="400">
                                <rect height="30" width="349.75" style="fill:rgb(0,0,255);" />
                            </svg>2:35.35<br />
                            <svg height="30" width="400">
                                <rect height="30" width="333.88" style="fill:rgb(0,0,255);" />
                            </svg>2:28.30<br />
                            <svg height="30" width="400">
                                <rect height="30" width="350.0" style="fill:rgb(0,0,255);" />
                            </svg>2:35.46<br />
                            <p>Average time: 2:31.99</p>
                        </body>
                    </html>
