<!DOCTYPE html>
                    <html>
                        <head>
                            <title>Elba (Under 14) 100m Free</title>
                            <link rel="stylesheet" href="/static/webapp.css"/>
                        </head>
                        <body>
                            <h2>Elba (Under 14) 100m Free</h2>
                            <svg height="30" width="400">
                                <rect height="30" width="345.66" style="fill:rgb(0,0,255);" />
                            </svg>1:06.10<br />
                            <svg height="30" width="400">
                                <rect height="30" width="341.69" style="fill:rgb(0,0,255);" />
                            </svg>1:05.34<br />
                            <svg height="30" width="400">
                                <rect height="30" width="350.0" style="fill:rgb(0,0,255);" />
                            </svg>1:06.93<br />
                            <svg height="30" width="400">
                                <rect height="30" width="345.19" style="fill:rgb(0,0,255);" />
                            </svg>1:06.01<br />
                            <p>Average time: 1:06.09</p>
                        </body>
                    </html>
