<!DOCTYPE html>
                    <html>
                        <head>
                            <title>Katie (Under 9) 50m Free</title>
                        </head>
                        <body>
                            <h3>Katie (Under 9) 50m Free</h3>
                            <svg height="30" width="400">
                                <rect height="30" width="350.0" style="fill:rgb(0,0,255);" />
                            </svg>42.81<br />
                            <svg height="30" width="400">
                                <rect height="30" width="341.99" style="fill:rgb(0,0,255);" />
                            </svg>41.83<br />
                            <svg height="30" width="400">
                                <rect height="30" width="308.71" style="fill:rgb(0,0,255);" />
                            </svg>37.76<br />
                            <svg height="30" width="400">
                                <rect height="30" width="318.36" style="fill:rgb(0,0,255);" />
                            </svg>38.94<br />
                            <p>Average time: 0:40.34</p>
                        </body>
                    </html>
